@page
@model EksamenSem2.Pages.Kalender.KalanderModel
@{
    var weekNumber = System.Globalization.CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(DateTime.Now, System.Globalization.CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Dagens dato: @DateTime.Now.ToString("dddd, dd MMMM yyyy") Uge @weekNumber.</p>
</div>

<form method="post">
    <label for="Day">Day:</label>
    <select id="Day" asp-for="Day">
        <option value="Monday">Mandag</option>
        <option value="Tuesday">Tirsdag</option>
        <option value="Wednesday">Onsdag</option>
        <option value="Thursdag">Torsdag</option>
        <option value="Friday">Fredag</option>
        <option value="Saturday">Lørdag</option>
        <option value="Sunday">Søndag</option>


    </select>

    <label for="Time">Time:</label>
    <input id="Time" asp-for="Time" type="time" />

    <label for="Event">Event:</label>
    <input id="Event" asp-for="Event" type="text" />

    <button type="submit">Add Event</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Time</th>
            @foreach (var day in Model.WeeklyEvents.Keys)
            {
                <th scope="col">@day</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 7; i <= 23; i++)
        {
            <tr>
                <td>@TimeSpan.FromHours(i).ToString(@"hh\:mm")</td>
                @foreach (var day in Model.WeeklyEvents.Keys)
                {
                    <td>@Model.WeeklyEvents[day].GetValueOrDefault(TimeSpan.FromHours(i), "")</td>
                }
            </tr>
        }
    </tbody>
</table>
