@page
@model EksamenSem2.Pages.KalanderModel
@{
    var weekNumber = System.Globalization.CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(DateTime.Now, System.Globalization.CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Dagens dato: @DateTime.Now.ToString("dddd, dd MMMM yyyy") Uge @weekNumber.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Time</th>
            @foreach (var day in Model.WeeklyEvents.Keys)
            {
                <th scope="col">@day</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 7; i <= 23; i++)
        {
            <tr>
                <td>@TimeSpan.FromHours(i).ToString(@"hh\:mm")</td>
                @foreach (var day in Model.WeeklyEvents.Keys)
                {
                    <td>@Model.WeeklyEvents[day].GetValueOrDefault(TimeSpan.FromHours(i), "")</td>
                }
            </tr>
        }
    </tbody>
</table>
